table{
	border-collapse: collapse;
	border-spacing: 0px 20px;
	width: 90px;
	table-layout: fixed;
}

table, tr{
	border-bottom: 2px solid #7D7C7C;
	
}
#gantt{
	padding: 20px;
	font-size: 12px;
	margin: 0 auto;
	width: 1000px;
} 

table, tr, th{
	border: 2px solid #7D7C7C;
	border-collapse: collapse;
	padding: 9px;
	font-size: 12px;
	background-color: #FFF5E0;
	line-height: 25px;
}

th{
	width: 90px;
	text-align: center;
}

li{
	list-style: none;
}

table, tr, td{
	padding: 5px;
	line-height: 25px;
	border-left: 1px dotted rgb(65, 61, 61);
	width: 1000px;
}

table, tr, td:last-child{
	border-right: 1px dotted rgb(65, 56, 56);
}

table, tr, td, .event-cell{
	color: rgb(0, 0, 0);
	font-size: 12px;
	text-align: left;
	padding-left: 10px;
	border-radius: 26px;
	border-left: none;
}

table, tr, td, :last-child{
	border-right: none;
}



table, tr, td, li, .event-cell{
	background-color: #FFF5E0;
	padding: 5px 10px;
	border-radius: 2rem;
	margin-right: 10px;
	
}

body{
    background-color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 40px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
	margin: 0 auto;
  }